.SuggestionListContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.time {
  padding: 20px;
}

.image {
  height: 40px;
  width: 40px;
  margin-top: 25px;
}
.title {
  margin: 20px;
}
.domainName {
  margin-top: 20px;
}
